.accounting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.transaction-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    transition: width 1s ease;
}

.transaction-form select,
.transaction-form input,
.transaction-form button {
    height: 40px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius: 5px;
    border: none;
    transition: width 0.5s ease;
}

.transaction-form input {
    width:100%;
    max-width:200px;
    min-width:150px;
}

.transaction-form button {
    width: 52px;
    flex-shrink: 0;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.transaction-list ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.transaction-list li {
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%; 
    padding: 10px 0; 
    font-size: 20px;
}

.transaction-list li span {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

.transaction-list li .date {
    flex: 1;
    text-align: left;
}

.transaction-list li span.amount {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.transaction-list li button {
    margin-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    border:none;
    padding:10px;
}


.accounting-page-total {
    font-size: 20px;
}

.return-home button {
    font-size: 16px;
    border-radius: 5px;
    border:none;
    padding:10px;
    margin-top:10px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .transaction-form {
        transition:1s ease;
    }

    .transaction-form input {
        transition:max-width 1s ease;
    }

}

@media screen and (max-width: 500px) {
    .transaction-form {
        flex-direction: column;
        width:100%;
        transition: width 1s ease;
    }

    .transaction-list li {
        font-size: 16px;
    }
}