*{
  box-sizing: border-box;
}

body {
  background-color: #3e4243; 
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

